@model AuctionHouse.Models.Listing
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

@if (User.Identity.IsAuthenticated)
{
    @if (Model.IsSold == true)
    {
        @foreach (var bid in Model.Bids)
        {
            @if (bid.Price == Model.Price)
            {
                @if (bid.IdentityUserId == UserManager.GetUserId(User))
                {
                    <h5>Congratulation, you are the winner!</h5>
                }
                else if (UserManager.GetUserId(User) == Model.User.Id)
                {
                    <h5>@bid.User.UserName</h5>
                }
                else
                {
                    <h5>Bidding is closed!</h5>
                }
            }
        }
    }
}

<h4 style="text-align:center">@Model.Title</h4>
<div class="container" style="background-color: rgba(138, 129, 133); margin-top: 50px; margin-bottom: 50px; padding: 20px; border-radius: 10px;">
    <div class="row">
        <div class="col col-xs-6 col-lg-5">
            <img src="@Url.Content("~/Images/"+Model.ImgPath)" alt="Image from wwwroot" style="max-width: 400px; max-height: 400px" />
        </div>
        <div class="col col-xs-6 col-lg-7">
            @* <h5><a asp-action="Details" asp-route-id="@Model.Id" style="color: black;">@Model.Title</a></h5> *@
            <div>@Model.Description</div>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="AddBid" method="post">
                    <div>
                        Bid: $ <input type="number" min="@Model.Price" max="10000" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" required />
                        <input type="hidden" name="IdentityUserId" class="form-cotrol" value="@UserManager.GetUserId(User)" />
                        <input type="hidden" name="ListingId" class="form-cotrol" value="@Model.Id" />
                        <input type="submit" class="btn btn-success" />
                    </div>
                </form>
                <p>Bids submitted: @Model.Bids.Count</p>
                <br />
                @if (UserManager.GetUserId(User) == Model.User.Id) /// TODO bids is not sorted 
                {
                    @foreach (var bid in Model.Bids)
                    {
                        <ul style="list-style-type: none;">
                            @bid.User.UserName Bidded $@bid.Price.ToString("N2")
                        </ul>
                    }
                }
            }
            else
            {
                <div>
                    Bid: $ <input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" />
                    <input disabled type="submit" class="btn btn-success" />
                </div>
                <p>Bids submitted: @Model.Bids.Count</p>
            }

            <div>Listed By: @Model.User.UserName</div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (UserManager.GetUserId(User) == Model.User.Id)
                {
                    @if (Model.IsSold == false)
                    {
                        <a asp-action="CloseBid" asp-route-id="@Model.Id" class="btn btn-danger">
                            <i class="fas fa-times"></i> Close Bidding
                        </a>
                    }
                }
            }
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <form asp-action="AddComment" method="post">
            <h6>add comment</h6>
            <textarea class="form-control" aria-label="with textarea" name="content" style="width: 40%; vertical-align:top;" required></textarea>
            <input type="hidden" name="IdentityUserId" class="form-cotrol" value="@UserManager.GetUserId(User)" />
            <input type="hidden" name="ListingId" class="form-cotrol" value="@Model.Id" />
            <input type="submit" class="btn btn-success" style="display: inline-block; margin-top:10px" />
        </form>
    </div>
}
else
{
    <div class="container">
        <h6>add comment</h6>
        <textarea class="form-control" aria-label="with textarea" name="content" style="width: 40%; vertical-align:top;"></textarea>
        <input type="submit" disabled class="btn btn-success" style="display: inline-block; margin-top:10px" />
    </div>
}
<br />
<div class="container">
    <h6>Comments</h6>
    @foreach(var comments in Model.Comments)
    {
        <div style="border:1px solid lightgrey; margin: 10px; padding: 10px; border-radius: 10px; width: 40%;">
            <p>@comments.Content - @comments.User</p>
        </div>
    }
</div>