@model PaginatedList<AuctionHouse.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h2>Active listings</h2>

@foreach (var Listings in Model)
{
    <div class="container" style="background-color: rgba(138, 129, 133, 0.6); margin-top:50px; margin-bottom: 50px; padding: 20px; border-radius: 10px">
        <div class="row">
            <img src="@Url.Content("~/Images/"+Listings.ImgPath)" alt="Image from wwwroot" style="max-width: 200px; max-height: 200px" />
            <div class="col col-xs-6 col-lg-7">
                <h5><a asp-action="Details" asp-route-id="@Listings.Id" style="color: black;">@Listings.Title</a></h5>
                <div>@Listings.Description</div>
                <div>Bid: $@Listings.Price.ToString("N2")</div>
                <div>Listed by: @Listings.User.Email</div>
            </div>
        </div>
    </div>
}

@if (!Model.Any())
{
    <p>No Active Listings</p>
}

<div class="pagination">
    @if (Model.HasPreviousPage)
    {
        <a class="btn btn-success" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
    }
    else
    {
        <button class="btn btn-success" disabled>Previous</button>
    }

    <span>Page @Model.PageIndex of @Model.TotalPages</span>

    @if (Model.HasNextPage)
    {
        <a class="btn btn-success" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
    }
    else
    {
        <button class="btn btn-success" disabled>Next</button>
    }
</div>
